* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
}
html {
  font-size: 62.5%; /* PARA USAR -> 1rem = 10px */
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/*///////////////////////////////////////////////*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.reloj {
  width: 310px;
  height: 360px;
  background-size: cover;
  filter: opacity(100%);
  /* border: 1px solid black; */
  /* background-color: rgb(198, 255, 204); */
}
.reloj .caja {
  width: 15.3em;
  height: 15.3em;
  left: 2.2em;
  top: 5.7em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

/* /////////////////////////////////////// */
.cuerpo {
  background-color: crimson;
  border-radius: 100%;
}
.cuerpo:before {
  content: '';
  width: 13.4em;
  height: 13.4em;
  background-color: rgb(206, 202, 255);
  background-color: white;
  position: absolute;
  left: 1em;
  top: 1em;
  border-radius: 100%;
}
.circulo-centro {
  width: 1.2em;
  height: 1.2em;
  background-color: #333;
  position: absolute;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.circulo-centro:before {
  content: '';
  width: 0.8em;
  height: 0.8em;
  background-color: crimson;
  position: absolute;
  border-radius: 100%;
}

/* /////////////////////////////////////// */
.manecillas {
  background-color: rgba(172, 255, 47, 0);
  width: 15.3em;
  height: 15.3em;
  position: absolute;
  left: 2.2em;
  top: 5.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hora {
  background-color: rgba(172, 255, 47, 0);
  width: 0.6em;
  height: 7.4em;
  /* transform: rotateZ(136deg); */
  position: absolute;
  overflow: hidden;

  transition: 1s;
}
.hora div:first-child {
  background-color: #333;
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  width: 100%;
  height: 6%;
}
.hora div:last-child {
  background-color: #333;
  width: 100%;
  height: 44%;
}

.minuto {
  background-color: rgba(172, 255, 47, 0);
  width: 0.6em;
  height: 8.4em;
  /* transform: rotateZ(347deg); */
  position: absolute;
  overflow: hidden;
}
.minuto div:first-child {
  background-color: #333;

  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  width: 100%;
  height: 5%;
}
.minuto div:last-child {
  background-color: #333;
  width: 100%;
  height: 45%;
}

.segundo {
  background-color: rgba(172, 255, 47, 0);
  width: 0.3em;
  height: 7.3em;
  /* transform: rotateZ(208deg); */
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
}
.segundo > div {
  background-color: crimson;
  width: 100%;
  height: 50%;
}

/* /////////////////////////////////////// */
.marcadores {
  z-index: 1;
  /* background-color: rgba(0, 255, 255, 0.508); */
}
.marcadores-gruesos {
  /* background-color: rgba(117, 121, 112, 0.267); */
  width: 0.43em;
  height: 11.9em;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.marcadores-gruesos > div {
  background-color: rgb(58, 157, 150);
  width: 100%;
  height: 15%;
  border-radius: 10px;
}
.marcadores-gruesos2 {
  transform: rotateZ(90deg);
}

.marcadores-delgados {
  /* background-color: rgba(117, 121, 112, 0.267); */
  width: 0.3em;
  height: 11.9em;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: rotateZ(30deg);
}
.marcadores-delgados > div {
  background-color: rgb(58, 157, 150);
  width: 100%;
  height: 10%;
  border-radius: 10px;
}

.marcadores-delgados2 {
  transform: rotateZ(60deg);
}
.marcadores-delgados3 {
  transform: rotateZ(120deg);
}
.marcadores-delgados4 {
  transform: rotateZ(150deg);
}
/* /////////////////////////////////////777 */
.sombra {
  /* background-color: rgba(0, 255, 255, 0.444); */
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.sombra div {
  background-color: rgb(214, 214, 214);
  width: 100%;
  height: 3%;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
}

/* ///////////////////////////// */
.patas {
  /* background-color: rgba(0, 255, 255, 0.384); */
  flex-direction: column;
  transform: translateY(-70px);
  z-index: -1;
}
.patas__contenedor {
  height: 35px;
  width: 466px;
  position: absolute;
  border-radius: 45%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.patas > div:first-child {
  /* background-color: red; */
  transform: rotateZ(115deg);
}
.patas > div:last-child {
  /* background-color: blue; */
  transform: rotateZ(64deg);
}
.pata {
  background-color: rgb(250, 165, 37);
  background-color: blue;
  width: 50%;
  height: 100%;
}
/* ////////////////// */
.centroT {
  /* background-color: rgba(255, 0, 0, 0.266); */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: relative;
  z-index: -1;
}
.centroT > div {
  background-color: rgb(250, 165, 37);
  background-color: blue;
  width: 3.5%;
  height: 54%;
  position: absolute;
  top: -29px;
}
.centroT > div::before {
  content: '';
  background-color: rgb(250, 165, 37);
  background-color: rgb(57, 57, 255);
  width: 35px;
  height: 10px;
  position: absolute;
  transform: translateX(-13px);
  border-radius: 10px;
}
/* PALOS CAMPANAS//////////////////// */
.palosCampanas {
  /* background-color: rgba(255, 0, 0, 0.371); */
  transform: translateY(35px);
  z-index: -1;
}
.paloCampana {
  width: 4%;
  height: 180%;
  position: absolute;
}
.paloCampana:first-child {
  /* background-color: greenyellow; */
  transform: rotateZ(29deg);
  animation: campana1 0.1s linear infinite alternate-reverse;
}
.paloCampana:last-child {
  /* background-color: rgba(255, 169, 10, 0.463); */
  transform: rotateZ(-29deg);
  animation: campana2 0.1s linear infinite alternate-reverse;
}
.paloCampana div {
  background-color: rgb(22, 22, 213);
  width: 100%;
  height: 50%;
  border-radius: 4px;
}
.paloCampana div:after {
  content: '';
  background-color: rgba(255, 0, 0, 0.511);
  background-color: rgb(57, 57, 255);
  width: 110px;
  height: 43px;
  position: absolute;
  transform: translateX(-50px);
  top: 17px;
  border-radius: 25px 25px 3px 3px;
  animation: campana 0.2s linear infinite alternate-reverse;
}
/* //////////////////////// */
@keyframes campana1 {
  to {
    transform: rotateZ(30.5deg);
  }
}

@keyframes campana2 {
  to {
    transform: rotateZ(-30.5deg);
  }
}

@keyframes campana {
  to {
    transform: translateX(-50px) scale(1, 0.9);
  }
}
